{% include 'header.twig' %}
<h2>{{ translations.deff_call }} {{ target.player }} ({{ target.x }}|{{ target.y }})</h2>
{% set totalTroops=0 %}
{% set totalHeroes=0 %}
{% set totalScouts=0 %}
{% for support in supports %}
    {% if strtotime(support.arrival) <= strtotime(target.arrival) %}
        {% set totalTroops=totalTroops+support.troops %}
        {% set totalHeroes=totalHeroes+support.hero %}
        {% set totalScouts=totalScouts+support.scouts %}
    {% endif %}
{% endfor %}
<div class="split2">
    <div>
        {% if strtotime(now) < strtotime(target.arrival) %}
            <form method="post">
                <fieldset>
                    <legend>{{ translations.legend_troops_send }}</legend>
                    <label>{{ translations.account }}<input required name="account" value="{{ target.ingame }}" type="string"/></label>
                    <label>{{ translations.amount }}<input required name="amount" type="number" min="1"/></label>
                    <label>{{ translations.troop_type }}<select required name="troop_type">
                            <optgroup label="{{ translations.hero }}">
                                <option{% if inputs.troop_type=='hero' %} selected{% endif %} value="hero">{{ translations.hero }}</option>
                            </optgroup>
                            <optgroup label="{{ translations.romans }}">
                                <option{% if inputs.troop_type=='roman_soldier1' %} selected{% endif %} value="roman_soldier1">{{ translations.roman_soldier1 }}</option>
                                <option{% if inputs.troop_type=='roman_soldier2' %} selected{% endif %} value="roman_soldier2">{{ translations.roman_soldier2 }}</option>
                                <option{% if inputs.troop_type=='roman_soldier3' %} selected{% endif %} value="roman_soldier3">{{ translations.roman_soldier3 }}</option>
                                <option{% if inputs.troop_type=='roman_soldier4' %} selected{% endif %} value="roman_soldier4">{{ translations.roman_soldier4 }}</option>
                                <option{% if inputs.troop_type=='roman_soldier5' %} selected{% endif %} value="roman_soldier5">{{ translations.roman_soldier5 }}</option>
                                <option{% if inputs.troop_type=='roman_soldier6' %} selected{% endif %} value="roman_soldier6">{{ translations.roman_soldier6 }}</option>
                            </optgroup>
                            <optgroup label="{{ translations.gauls }}">
                                <option{% if inputs.troop_type=='gaul_soldier1' %} selected{% endif %} value="gaul_soldier1">{{ translations.gaul_soldier1 }}</option>
                                <option{% if inputs.troop_type=='gaul_soldier2' %} selected{% endif %} value="gaul_soldier2">{{ translations.gaul_soldier2 }}</option>
                                <option{% if inputs.troop_type=='gaul_soldier3' %} selected{% endif %} value="gaul_soldier3">{{ translations.gaul_soldier3 }}</option>
                                <option{% if inputs.troop_type=='gaul_soldier4' %} selected{% endif %} value="gaul_soldier4">{{ translations.gaul_soldier4 }}</option>
                                <option{% if inputs.troop_type=='gaul_soldier5' %} selected{% endif %} value="gaul_soldier5">{{ translations.gaul_soldier5 }}</option>
                                <option{% if inputs.troop_type=='gaul_soldier6' %} selected{% endif %} value="gaul_soldier6">{{ translations.gaul_soldier6 }}</option>
                            </optgroup>
                            <optgroup label="{{ translations.teutons }}">
                                <option{% if inputs.troop_type=='teuton_soldier1' %} selected{% endif %} value="teuton_soldier1">{{ translations.teuton_soldier1 }}</option>
                                <option{% if inputs.troop_type=='teuton_soldier2' %} selected{% endif %} value="teuton_soldier2">{{ translations.teuton_soldier2 }}</option>
                                <option{% if inputs.troop_type=='teuton_soldier3' %} selected{% endif %} value="teuton_soldier3">{{ translations.teuton_soldier3 }}</option>
                                <option{% if inputs.troop_type=='teuton_soldier4' %} selected{% endif %} value="teuton_soldier4">{{ translations.teuton_soldier4 }}</option>
                                <option{% if inputs.troop_type=='teuton_soldier5' %} selected{% endif %} value="teuton_soldier5">{{ translations.teuton_soldier5 }}</option>
                                <option{% if inputs.troop_type=='teuton_soldier6' %} selected{% endif %} value="teuton_soldier6">{{ translations.teuton_soldier6 }}</option>
                            </optgroup>
                            <optgroup label="{{ translations.egyptians }}">
                                <option{% if inputs.troop_type=='egyptian_soldier1' %} selected{% endif %} value="egyptian_soldier1">{{ translations.egyptian_soldier1 }}</option>
                                <option{% if inputs.troop_type=='egyptian_soldier2' %} selected{% endif %} value="egyptian_soldier2">{{ translations.egyptian_soldier2 }}</option>
                                <option{% if inputs.troop_type=='egyptian_soldier3' %} selected{% endif %} value="egyptian_soldier3">{{ translations.egyptian_soldier3 }}</option>
                                <option{% if inputs.troop_type=='egyptian_soldier4' %} selected{% endif %} value="egyptian_soldier4">{{ translations.egyptian_soldier4 }}</option>
                                <option{% if inputs.troop_type=='egyptian_soldier5' %} selected{% endif %} value="egyptian_soldier5">{{ translations.egyptian_soldier5 }}</option>
                                <option{% if inputs.troop_type=='egyptian_soldier6' %} selected{% endif %} value="egyptian_soldier6">{{ translations.egyptian_soldier6 }}</option>
                            </optgroup>
                            <optgroup label="{{ translations.huns }}">
                                <option{% if inputs.troop_type=='hun_soldier1' %} selected{% endif %} value="hun_soldier1">{{ translations.hun_soldier1 }}</option>
                                <option{% if inputs.troop_type=='hun_soldier2' %} selected{% endif %} value="hun_soldier2">{{ translations.hun_soldier2 }}</option>
                                <option{% if inputs.troop_type=='hun_soldier3' %} selected{% endif %} value="hun_soldier3">{{ translations.hun_soldier3 }}</option>
                                <option{% if inputs.troop_type=='hun_soldier4' %} selected{% endif %} value="hun_soldier4">{{ translations.hun_soldier4 }}</option>
                                <option{% if inputs.troop_type=='hun_soldier5' %} selected{% endif %} value="hun_soldier5">{{ translations.hun_soldier5 }}</option>
                                <option{% if inputs.troop_type=='hun_soldier6' %} selected{% endif %} value="hun_soldier6">{{ translations.hun_soldier6 }}</option>
                            </optgroup>
                        </select></label>
                    <label>{{ translations.arrival }}<input required name="date" type="date" value="{{ target.arrival|slice(0, 10) }}"/><input required name="time" step="1" type="time" value="{{ target.arrival|slice(11, 8) }}"/></label>
                    <input type="submit"/>
                </fieldset>
            </form>
            {% if target.grain_storage > 0 %}
                <form method="post">
                    <fieldset>
                        <legend>{{ translations.legend_grain_send }}</legend>
                        <label>{{ translations.account }}<input required name="account" value="{{ target.ingame }}" type="string"/></label>
                        <label>{{ translations.grain }}<input required name="grain" type="number" min="1"/></label>
                        <label>{{ translations.arrival }}<input required name="date" type="date" value="{{ target.arrival|slice(0, 10) }}"/><input required name="time" step="1" type="time" value="{{ target.arrival|slice(11, 8) }}"/></label>
                        <input type="submit"/>
                    </fieldset>
                </form>
        {% endif %}
    {% endif %}
    </div>
    <div>
        <table id="shortinfo">
            <tr><th>{{ translations.village }}</th><td><a href="https://{{ target.world }}/position_details.php?x={{ target.x }}&y={{ target.y }}" target="_blank">{{ target.player }} ({{ target.x }}|{{ target.y }})</a></td></tr>
                <tr><th>{{ translations.arrival }}</th><td>{{ target.arrival }}</tr>
                <tr>
                    <th>{{ translations.countdown }}</th>
                    <td><span class="countdown" data-countdown="{{ target.arrival }}"></span></td>
                </tr>
                {% if target.troops > 0 %}<tr><th>{{ translations.troops }}</th><td>{{totalTroops }}/{{ target.troops }} <button style="margin-left: 1em;background: transparent;" onclick="document.getElementById('shortinfo').classList.toggle('hidden')">{{ translations.toggle_details }}</button></td></tr>{% endif %}
                {% if target.scouts > 0 %}<tr><th>{{ translations.scouts }}</th><td>{{totalScouts }}/{{ target.scouts }}</td></tr>{% endif %}
                {% if target.heroes > 0 %}<tr><th>{{ translations.heroes }}</th><td>{{totalHeroes }}/{{ target.heroes }}</td></tr>{% endif %}
                <tr>
                    <th>{{ translations.troop_ratio }}</th>
                    <td>
                        <div class="bar">
                            <div class="target" style="grid-template-columns: {{ infantryPercent + overflowPercent-0.5 }}% 1% {{ cavalryPercent-0.5 }}%">
                                <div></div>
                                <div class="middle"></div>
                                <div></div>
                            </div>
                            <div class="current" style="grid-template-columns: {{ floor(infantryPower/totalPower*100) }}%  {{ floor(cavalryPower/totalPower*100) }}%">
                                <div class="left" title="{{ floor(infantryPower/totalPower*100) }}% {{ translations.infantry }}">{{ translations.infantry }}</div>
                                <div class="right" title="{{ floor(cavalryPower/totalPower*100) }}% {{ translations.cavalry }}">{{ translations.cavalry }}</div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% for troop,amount in troops %}
                    {% if amount > 0 %}
                <tr class="details"><th>{{ translations[troop] }}</th><td>{{ amount }}</td></tr>
                    {% endif %}
                {% endfor %}
                <tr><th>{{ translations.share }}</th><td><a class="not-highlighted" href="https://travian.idrinth.de/deff-call/{{ id }}">{{ translations.here }}</a></tr>
                        {% if key==target.key and key is not empty %}
                    <tr><th>{{ translations.share_full }}</th><td><a class="not-highlighted" href="https://travian.idrinth.de/deff-call/{{ id }}/{{ key }}">{{ translations.here }}</a></tr>
                        {% endif %}
        </table>
        <script type="text/javascript">
            document.getElementById('shortinfo').classList.toggle('hidden')
        </script>
        {% if key==target.key and key is not empty %}
            <form method="post">
                <input type="hidden" name="delete" value="deff-call"/>
                <input type="submit" value="DELETE"/>
            </form>
        {% endif %}
        {% if target.grain_storage > 0 %}
            <canvas id="chart"></canvas>
            <script>
                onExists('Chart', () => {
                    new Chart('chart', {
                      type: 'line',
                      options: {
                        elements: {
                          point:{
                            radius: 0
                          }
                        },
                        scales: {
                          y: {
                            show: true,
                          },
                          x: {
                            type: 'timeseries',
                          },
                        }
                      },
                      data: {
                        labels: {{ charts.labels|json_encode()|raw }},
                        datasets: [{
                          label: 'Storage',
                          data: {{ charts.max|json_encode()|raw }},
                          borderColor: 'rgb(192, 75, 75)',
                          tension: 0.1
                        },{
                          label: 'Impact',
                          data: {{ charts.impact|json_encode()|raw }},
                          borderColor: 'rgb(75, 75, 75)',
                          indexAxis: 'y',
                          tension: 0.1
                        },{
                          label: 'Grain',
                          data: {{ charts.data|json_encode()|raw }},
                          fill: true,
                          borderColor: 'rgb(75, 192, 192)',
                          backgroundColor: 'rgb(75, 192, 192, 0.5)',
                          tension: 0.1
                        },]
                      }
                    });
              });
            </script>
        {% else %}
            <p>{{ translations.no_grain_info }}</p>
        {% endif %}
    </div>
</div>
<div class="split2">
    <div>
    {% if session.id > 0 %}
        <h3>{{ translations.in_range }}</h3>
        <ul>
            {% for village,troops in own %}
                <li>{{ village }}<ul>
                        {% for troop,amount in troops %}
                            {% if amount.duration %}
                                <li>{{ amount.troops }} {{ translations[troop] }}({{ amount.duration|date('H:i:s') }})</li>
                            {% else %}
                                <li>{{ amount.troops }} {{ translations[troop] }}({{ amount.boots }}% {{ translations.hero_boot_bonus }}, {{ amount.standard }}% {{ translations.hero_standard_bonus }})</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% else %}
                <li>{{ translations.nothing_in_range }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
    <div>
    {% if worlddata %}
        <h3>{{ translations.map_sql_data }}</h3>
        <table>
            <tr>
                <th>{{ translations.player }}</th>
                <td><a target="_blank" href="https://{{ target.world }}/profile/{{ worlddata.player_id }}">{{ worlddata.player_name }}</a></td>
            </tr>
            <tr>
                <th>{{ translations.village }}</th>
                <td>{{ worlddata.village_name }}{% if worldata.is_capital==1 %}(Capital){% endif %}{% if worldata.is_city==1 %}(City){% endif %}</td>
            </tr>
            <tr>
                <th>{{ translations.alliance }}</th>
                <td><a target="_blank" href="https://{{ target.world }}/alliance/{{ worlddata.alliance_id }}">{{ worlddata.alliance_name }}</a></td>
            </tr>
            <tr>
                <th>{{ translations.population }}</th>
                <td>{{ worlddata.population }}</td>
            </tr>
        </table>
    {% endif %}
    </div>
</div>
<h3>{{ translations.troops_sent }}</h3>
<table>
    <tr><th>{{ translations.account }}</th><th>{{ translations.troops }}</th><th>{{ translations.arrival }}</th></tr>
            {% for support in supports %}
                {% if (key==target.key and key is not empty) or (session.id == support.creator and session.id > 0 ) %}
            <tr{% if strtotime(support.arrival) > strtotime(target.arrival) %} class="late"{% endif %}>
                <th{% if support.name is not empty %} title="{{ support.name ~ '#' ~ support.discriminator }}"{% endif %}>{{ support.account }}</th>
                <td>{{ support.amount }} {{ translations[support.troop_type] }}</td>
                <td title="{{ translations.created }} {{ support.created }}">{{ support.arrival }}</td>
                <td>{% if strtotime(now) < strtotime(support.created)+600 and support.creator==session.id %}<form method="post"><input type="hidden" name="delete" value="{{ support.aid }}"/><input type="submit" value="DELETE"/></form>{% endif %}</td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
{% include 'footer.twig' %}