{% include 'header.twig' %}
<h2>{{ translations.alliance }}</h2>
<form method="post">
    <fieldset>
        <legend>{{ translations.main }}</legend>
        <div class="split2">
            <label>{{ translations.name }}<input type="text" name="name"/></label>
            <label title="ts8.x1.europe.travian.com">{{ translations.world }}*<input type="text" name="world" value="{{ world }}"/></label>
        </div>
        <input type="submit"/>
    </fieldset>
</form>
{% if alliances is not empty %}
<h3>{{ translations.alliances }}</h3>
<table>
    <tr><th>{{ translations.world }}</th><th>{{ translations.name }}</th><th>{{ translations.rank }}</th></tr>
{% for alliance in alliances %}
    <tr>
        <th>{{ alliance.world }}</th>
        <td><a href="/alliance/{{ alliance.id }}">{{ alliance.name }}</a></td>
        <td>{{ alliance.rank }}</td>
    </tr>
{% endfor %}
</table>
{% endif %}
{% include 'footer.twig' %}
