{% include 'header.twig' %}
<h2>{{ translations.alliance }}</h2>
<h3>{{ alliance.name }}</h3>
<p>on {{ alliance.world }}</p>
{% set mayInvite=false %}
{% set rank='Follower' %}
<table>
    <tr>
        <th>Discord</th>
        <th>{{ translations.name }}</th>
        <th>{{ translations.rank }}</th>
    </tr>
{% for player in players %}
    {% if player.rank=='Creator' or player.rank=='High Council' %}
        {% if player.user == session.id %}
            {% set mayInvite=true %}
            {% set rank=player.rank %}
        {% endif %}
    {% endif %}
{% endfor %}
{% for player in players %}
    <tr>
        <th>{{ player.discord ~  '#' ~ player.discriminator }}</th>
        <td>{{ player.name }}</td>
        <td>{% if mayInvite and player.rank!='Creator' and player.user!=session.id %}<form method="post">
                <input type="hidden" name="user" value="{{ player.aid }}"/>
                <select name="rank">
                    <option>Kick</option>
                    <option{% if player.rank=='Follower' %} selected{% endif %}>Follower</option>
                    <option{% if player.rank=='Member' %} selected{% endif %}>Member</option>
                    <option{% if player.rank=='High Council' %} selected{% endif %}>High Council</option>
                </select><input type="submit"/></form>{% else %}{{ player.rank }}{% endif %}</td>
    </tr>
{% endfor %}
</table>
{% if mayInvite %}
    <a href="/alliance/{{ alliance.id }}/{{ alliance.key }}">{{ translations.invite }}</a>
    <form method="post"><input type="hidden" value="1" name="regen-key"/><input type="submit" value="Regenerate"/></form>
{% endif %}
<h4>{{ translations.deff_calls }}</h4>
<table>
    <tr>
        <th>{{ translations.world }}</th>
        <th>{{ translations.position }}</th>
    </tr>
{% for deff_call in deff_calls %}
    <tr>
        <th>{{ deff_call.world }}</th>
        <td><a href="/deff-call/{{ deff_call.id }}">({{ deff_call.x }}|{{ deff_call.x }})</a></td>
    </tr>
{% endfor %}
</table>
<h4>{{ translations.heroes }}</h4>
<table>
    <tr>
        <th>{{ translations.player }}</th>
        <th>{{ translations.updated }}</th>
        <th>{{ translations.changed }}</th>
    </tr>
{% for hero in heroes %}
    <tr>
        <th><a href="https://{{ alliance.world }}/profile/{{ hero.player }}" target="_blank">{{ hero.player }}</a></th>
        <td>{{ hero.last_update }}</a></td>
        <td>{{ hero.last_change }}</td>
    </tr>
{% endfor %}
</table>
{% include 'footer.twig' %}
