{% include 'header.twig' %}
<h2>{{ translations.alliance }}</h2>
<h3>{{ alliance.name }}</h3>
<p>on {{ alliance.world }}</p>
{% set mayInvite=false %}
{% set mayPlan=false %}
{% set rank='Follower' %}
{% set name='' %}
{% for player in players %}
    {% if player.user == session.id %}
        {% set name=player.name %}
        {% set rank=player.rank %}
        {% if player.rank=='Creator' or player.rank=='High Council' %}
            {% set mayInvite=true %}
            {% set mayPlan=true %}
        {% elseif player.rank=='Planner' %}
            {% set mayPlan=true %}
        {% endif %}
    {% endif %}
{% endfor %}
<table>
    <tr>
        <th>Discord</th>
        <th>{{ translations.name }}</th>
        <th>{{ translations.rank }}</th>
        <th title="{{ translations.activity }}">AS</th>
        {% if mayPlan %}
            <th>{{ translations.troops }}</th>
        {% endif %}
        <th>{{ translations.hero }}</th>
    </tr>
{% for player in players %}
    <tr>
        <th>{{ player.discord ~  '#' ~ player.discriminator }}</th>
        <td>{{ player.name }}</td>
        <td>{% if mayInvite and player.rank!='Creator' and player.user!=session.id %}<form method="post">
                <input type="hidden" name="user" value="{{ player.aid }}"/>
                <select name="rank">
                    <option>Kick</option>
                    <option{% if player.rank=='Follower' %} selected{% endif %}>Follower</option>
                    <option{% if player.rank=='Member' %} selected{% endif %}>Member</option>
                    <option{% if player.rank=='Planner' %} selected{% endif %}>Planner</option>
                    <option{% if player.rank=='High Council' %} selected{% endif %}>High Council</option>
                </select><input type="submit"/></form>{% else %}{{ player.rank }}{% endif %}</td>
        {% if mayInvite or player.aid==session.id %}
            {% set found=false %}
            {% for act in activity %}
                {% if act.user == player.aid %}
                    <td style="text-align: center" title="{{ act.deffCalls }} Deff Calls
{{ act.troops }} Deff Call: Troops
{{ act.scouts }} Deff Call: Scouts
{{ act.heroesDeff }} Deff Call: Hero
{{ act.grain }} Deff Call: Grain Support
{{ act.heroes }} Hero Updates
{{ act.troopUpdate }} Troop Tool Updates
{{ act.pushes }} Pushes
{{ act.resources }} Pushes: Resources pushed
{{ act.fakes }} Attacks: Fakes
{{ act.reals }} Attacks: Reals">{{ round(act.activity) }}</td>
                    {% set found=true %}
                {% endif %}
            {% endfor %}
            {% if not found %}
                <td>0</td>
            {% endif %}
        {% else %}
            <td></td>
        {% endif %}
        {% if mayPlan %}
            {% set found=false %}
            {% for act in troops %}
                {% if act.user == player.aid %}
                    <td title="Updated {{ act.updated }}">
                        <a href="/troop-tool/{{ player.aid }}">
                            {% if act.troops %}<div>{{ act.troops }} Troops</div>{% endif %}
                            {% if act.settlers %}<div>{{ act.settlers }} Settlers</div>{% endif %}
                            {% if act.chiefs %}<div>{{ act.chiefs }} Chiefs</div>{% endif %}
                            {% if act.rams %}<div>{{ act.rams }} Rams</div>{% endif %}
                            {% if act.catapults %}<div>{{ act.catapults }} Catapults</div>{% endif %}
                        </a>
                    </td>
                    {% set found=true %}
                {% endif %}
            {% endfor %}
            {% if not found %}
                <td></td>
            {% endif %}
        {% endif %}
        <td>
            {% if player.fighting_strength %}<div>{{ player.fighting_strength }} Fighting Strength</div>{% endif %}
            {% if player.off_bonus %}<div>{{ player.off_bonus }} Off-Bonus</div>{% endif %}
            {% if player.deff_bonus %}<div>{{ player.deff_bonus }} Def-Bonus</div>{% endif %}
            {% if player.resources %}<div>{{ player.resources }} Resources</div>{% endif %}
        </td>
    </tr>
{% endfor %}
</table>
{% if mayInvite %}
    <div class="split2">
        <a href="/alliance/{{ alliance.id }}/{{ alliance.key }}">{{ translations.invite }}</a>
        <form method="post"><input type="hidden" value="1" name="regen-key"/><input type="submit" value="Regenerate"/></form>
    </div>
{% endif %}
<h4>{{ translations.deff_calls }}</h4>
<table>
    <tr>
        <th>{{ translations.world }}</th>
        <th>{{ translations.position }}</th>
        <th>{{ translations.arrival }}</th>
    </tr>
{% for deff_call in deff_calls %}
    <tr>
        <th>{{ deff_call.world }}</th>
        <td><a href="/deff-call/{{ deff_call.id }}{% if mayPlan %}/{{ deff_call.key }}{% endif %}">{{ deff_call.player }} ({{ deff_call.x }}|{{ deff_call.x }})</a></td>
        <th>{{ deff_call.arrival }}</th>
    </tr>
{% endfor %}
</table>
<h4>{{ translations.attack_organizer }}</h4>
<a href="/alliance/{{ alliance.id }}/attack-organizer">{{ translations.new }}</a>
<table>
    <tr>
        <th>{{ translations.arrival }}</th>
    </tr>
{% for attack in attacks %}
    <tr>
        <td><a href="/alliance/{{ alliance.id }}/attack-organizer/{{ attack.id }}">{{ attack.arrival }}</a></td>
    </tr>
{% endfor %}
</table>
<h4>{{ translations.resource_push }}</h4>
<table>
    <tr>
        <th>{{ translations.world }}</th>
        <th>{{ translations.position }}</th>
        <th>{{ translations.arrival }}</th>
    </tr>
{% for push in pushes %}
    <tr>
        <th>{{ push.world }}</th>
        <td><a href="/resource-push/{{ push.id }}{% if mayPlan %}/{{ push.key }}{% endif %}">{{ push.player }} ({{ push.x }}|{{ push.x }})</a></td>
        <th>{{ push.arrival }}</th>
    </tr>
{% endfor %}
</table>
<h4>{{ translations.heroes }}</h4>
<table>
    <tr>
        <th>{{ translations.player }}</th>
        <th>{{ translations.updated }}</th>
        <th>{{ translations.changed }}</th>
        <th>{{ translations.gear }}</th>
    </tr>
{% for hero in heroes %}
    <tr>
        <th><a href="https://{{ alliance.world }}/profile/{{ hero.player }}" target="_blank">{{ hero.name }}({{ hero.player }})</a></th>
        <td>{{ hero.last_update }}</a></td>
        <td>{{ hero.last_change }}</td>
        <td><a href="/hero-check/{{ hero.aid}}">{{ translations.here }}</a></td>
    </tr>
{% endfor %}
</table>
{% include 'footer.twig' %}
