{% include 'header.twig' %}
<h2>{{ translations.attack_overview }}</h2>
<table class="sortierbar" id="sort-table">
    <thead>
        <tr>
            <th>{{ translations.fromVillage }}</th>
            <th>{{ translations.toVillage }}</th>
            <th>{{ translations.arrival }}</th>
            <th>{{ translations.speed }}</th>
        </tr>
    </thead>
    <tbody>
        {% for attack in attacks %}
        <tr data-attacker="{{ attack.fromName }}" data-defender="{{ attack.toName }}">
            <td onclick="filter('attacker', '{{ attack.fromName }}')">{{ attack.fromName}} ({{ attack.fromX }}|{{ attack.fromY }})</td>
            <td onclick="filter('defender', '{{ attack.toName }}')">{{ attack.toName }} ({{ attack.toX }}|{{ attack.toY }})</td>
            <td title="{{ attack.earliestStart }} - {{ attack.latestStart }} -> {{ attack.arrival }}">{{ attack.arrival }}</td>
            <td>{% for speed in attack.speed %}
                {{ speed.0 }} TS {{ speed.1 }}<br />
            {% endfor %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    filter = (type, value) => {
        const trs = document.getElementById('sort-table').getElementsByTagName('tbody')[0].getElementsByTagName('tr');
        for (let i=0;i<trs.length;i++) {
            trs[i].removeAttribute('style');
            if (type === 'attacker' && trs[i].getAttribute('data-attacker') !== value) {
                trs[i].setAttribute('style', 'display:none');
            }
            if (type === 'defender' && trs[i].getAttribute('data-defender') !== value) {
                trs[i].setAttribute('style', 'display:none');
            }
        }
    };
</script>
<button onclick="filter('none')">Reset</button>
<h3>{{ translations.manual_additions }}</h3>
<form method="post">
    <fieldset>
        <legend>{{ translations.main }}</legend>
        <div class="split2">
            <label>{{ translations.fromX }}<input type="number" name="fromX"/></label>
            <label>{{ translations.fromY }}<input type="number" name="fromY"/></label>
            <label>{{ translations.toX }}<input type="number" name="toX"/></label>
            <label>{{ translations.toY }}<input type="number" name="toY"/></label>
            <label>{{ translations.blind_time }}<input type="time" step="1" name="blind_time"/></label>
            <label>{{ translations.arrival }}<input type="date" name="date"/><input type="time" step="1" name="time"/></label>
        </div>
        <input type="submit"/>
    </fieldset>
</form><!--
<h3>{{ translations.rally_point_parser }}</h3>
<form method="post">
    <fieldset>
        <legend>{{ translations.main }}</legend>
        <div class="split2">
            <label>{{ translations.source }}<textarea name="source"></textarea></label>
            <label>{{ translations.blind_time }}<input type="time" step="1" name="blind_time"/></label>
        </div>
        <input type="submit"/>
    </fieldset>
</form>-->
{% include 'footer.twig' %}
