{% include 'header.twig' %}
<h2>{{ translations.attack_parser }}</h2>
{% for attack in attacks %}
<h3>({{ attack.from.x }}|{{ attack.from.y }}) &rarr; {{ attack.to.name }}({{ attack.to.x }}|{{ attack.to.y }})</h3>
<table>
    <tr>
        <th>{{ translations.distance }}</th>
        <td>{{ attack.distance }}</td>
        <td rowspan="2"><form method="post" target="_blank" action="/deff-call">
            <fieldset>
                <legend>{{ translations.main }}</legend>
                <label title="ts9.x1.europe.travian.com">{{ translations.world }}*<input value="{% if inputs.world %}{{ inputs.world }}{% else %}{{ world }}{% endif %}" required name="world"/></label>
                <input required name="x" value="{{ attack.to.x }}" type="hidden"/>
                <input required name="y" value="{{ attack.to.y }}" type="hidden"/>
                <input type="hidden" value="{{ player }}" name="player"/>
                <label>{{ translations.arrival }}<input name="date" value="{{ attack.date }}" type="date"/>
                    <input required value="{{ attack.time }}" name="time" type="time"/></label>
                <label>{{ translations.desired_troops }}<input required value="0" name="troops" type="number" min="0"/></label>
                <label>{{ translations.desired_scouts }}<input required value="0" name="scouts" type="number" min="0"/></label>
                <label>{{ translations.desired_heroes }}<input required value="0" name="heroes" type="number" min="0"/></label>
            </fieldset>
            <fieldset>
                <legend>{{ translations.advanced }}</legend>
                <label>{{ translations.alliance_lock }}<select name="alliance_lock">
                    <option value="0">{{ translations.none }}</option>
                    {% for alliance in alliances %}
                        <option{% if inputs.alliance_lock==alliance.aid %} selected{% endif %} value="{{ alliance.aid }}">{{ alliance.world }}: {{ alliance.name }}</option>
                    {% endfor %}
                    </select></label>
                <label>{{ translations.advanced_troop_data }}<input name="advanced_troop_data" type="hidden" value="0"/><input name="advanced_troop_data" type="checkbox" value="1"/></label>
                <input value="401" name="world_width" value="{{ size.width }}" type="hidden"/>
                <input value="401" name="world_height" value="{{ size.height }}" type="hidden"/>
                <input type="submit"/>
            </fieldset>
        </form></td>
    </tr>
    <tr>
        <th>{{ translations.troops }}</th>
        <td><ul>{% for unit in attack.units %}
            <li>{{ translations[unit[2]] }}: {{ translations.speed }} {{ unit[0] }} {{ translations.time }} {{ unit[3][0] }} {{ translations.tournament_square }} {{ unit[1] }}</li>
        {% endfor %}</ul></td>
    </tr>
</table>
{% else %}
    <p>{{ translations.attack_parser_explanation }}</p>
{% endfor %}
<form method="post">
    <fieldset>
        <legend>{{ translations.main }}</legend>
        <div class="split2">
            <label>{{ translations.source }}<textarea name="source"></textarea></label>
            <label>{{ translations.blind_time }}<input type="time" step="1" name="blind_time"/></label>
        </div>
        <input type="submit"/>
    </fieldset>
</form>
{% include 'footer.twig' %}