{% include 'header.twig' %}
<h2>{{ translations.attack_organizer }}</h2>
<form method="post">
    <fieldset>
        <legend>{{ translations.main }}</legend>
        <div class="split2">
            <label>{{ translations.alliance }}<select name="alliance">
                    {% for alliance in alliances %}
                        <option value="{{ alliance.id }}">{{ alliance.name }}</option>
                    {% endfor %}
                </select></label>
        </div>
        <input type="submit"/>
    </fieldset>
</form>
{% include 'footer.twig' %}
