{% include 'header.twig' %}
<h2>{{ translations.attack_parser }}</h2>
{% for attack in attacks %}
<h3>({{ attack.from.x }}|{{ attack.from.y }}) &rarr; {{ attack.to.name }}({{ attack.to.x }}|{{ attack.to.y }})</h3>
<table>
    <tr>
        <th>{{ translations.distance }}</th>
        <td>{{ attack.distance }}</td>
    </tr>
    <tr>
        <th>{{ translations.troops }}</th>
        <td><ul>{% for unit in attack.units %}
            <li>{{ translations[unit[2]] }}: {{ translations.speed }} {{ unit[0] }} {{ translations.time }} {{ unit[3][0] }} {{ translations.tournament_square }} {{ unit[1] }}</li>
        {% endfor %}</ul></td>
    </tr>
</table>
{% endfor %}
<form method="post">
    <fieldset>
        <legend>{{ translations.main }}</legend>
        <label>{{ translations.source }}<textarea name="source"></textarea></label>
        <label>{{ translations.blind_time }}<input type="time" step="1" name="blind_time"/></label>
        <input type="submit"/>
    </fieldset>
</form>
{% include 'footer.twig' %}