{% include 'header.twig' %}
<h2>Create Deff-Call</h2>
<form method="post">
    <fieldset>
        <legend>{{ translations.main }}</legend>
        <label tiotle="ts9.x1.europe.travian.com">{{ translations.world }}*<input required name="world"/></label>
        <label>X<input required name="x" type="number"/></label>
        <label>Y<input required name="y" type="number"/></label>
        <label>{{ translations.arrival }}<input required name="date" type="date"/><input required name="time" step="1" type="time"/></label>
        <label>{{ translations.desired_troops }}<input required name="troops" type="number" value="0" min="0"/></label>
        <label>{{ translations.desired_scouts }}<input required name="scouts" type="number" value="0" min="0"/></label>
        <input type="submit"/>
    </fieldset>
</form>
{% include 'footer.twig' %}