{% include 'header.twig' %}
<h2>{{ translations.deff_call }} {{ target.player }} ({{ target.x }}|{{ target.y }})</h2>
<div class="split2">
    {% set totalScouts=0 %}
    {% set totalTroops=0 %}
    {% set totalHeroes=0 %}
    {% for support in supports %}
        {% if strtotime(support.arrival) <= strtotime(target.arrival) %}
            {% set totalScouts=totalScouts+support.scouts %}
            {% set totalTroops=totalTroops+support.troops %}
            {% set totalHeroes=totalHeroes+support.hero %}
        {% endif %}
    {% endfor %}
    <div>
        {% if strtotime(now) < strtotime(target.arrival) %}
            <form method="post">
                <fieldset>
                    <legend>{{ translations.legend_troops_send }}</legend>
                    <label>{{ translations.account }}<input required name="account" value="{{ target.ingame }}" type="string"/></label>
                    {% if target.scouts > 0 %}<label>{{ translations.scouts }}<input required name="scouts" type="number" min="0"/></label>{% endif %}
                    {% if target.troops > 0 %}<label>{{ translations.troops }}<input required name="troops" type="number" min="0"/></label>{% endif %}
                    {% if target.troops > 0 or target.heroes > 0 %}<label>{{ translations.hero }}<input required name="hero" type="number" min="0" max="1"/></label>{% endif %}
                    <label>{{ translations.arrival }}<input required name="date" type="date" value="{{ target.arrival|slice(0, 10) }}"/><input required name="time" step="1" type="time" value="{{ target.arrival|slice(11, 8) }}"/></label>
                    <input type="submit"/>
                </fieldset>
            </form>
            {% if target.grain_storage > 0 %}
                <form method="post">
                    <fieldset>
                        <legend>{{ translations.legend_grain_send }}</legend>
                        <label>{{ translations.account }}<input required name="account" value="{{ target.ingame }}" type="string"/></label>
                        <label>{{ translations.grain }}<input required name="grain" type="number" min="1"/></label>
                        <label>{{ translations.arrival }}<input required name="date" type="date" value="{{ target.arrival|slice(0, 10) }}"/><input required name="time" step="1" type="time" value="{{ target.arrival|slice(11, 8) }}"/></label>
                        <input type="submit"/>
                    </fieldset>
                </form>
            {% endif %}
        {% endif %}
    </div>
    <div>
        <table>
                <tr><th>{{ translations.village }}</th><td><a href="https://{{ target.world }}/position_details.php?x={{ target.x }}&y={{ target.y }}" target="_blank">{{ target.player }} ({{ target.x }}|{{ target.y }})</a></td></tr>
                <tr><th>{{ translations.arrival }}</th><td>{{ target.arrival }} (<span class="countdown" data-countdown="{{ target.arrival }}"></span>)</tr>
                {% if target.troops > 0 %}<tr><th>{{ translations.troops }}</th><td>{{totalTroops }}/{{ target.troops }}</td></tr>{% endif %}
                {% if target.scouts > 0 %}<tr><th>{{ translations.scouts }}</th><td>{{totalScouts }}/{{ target.scouts }}</td></tr>{% endif %}
                {% if target.heroes > 0 %}<tr><th>{{ translations.heroes }}</th><td>{{totalHeroes }}/{{ target.heroes }}</td></tr>{% endif %}
                <tr><th>{{ translations.share }}</th><td><a class="not-highlighted" href="https://travian.idrinth.de/deff-call/{{ id }}">{{ translations.here }}</a></tr>
                        {% if key==target.key and key is not empty %}
                    <tr><th>{{ translations.share_full }}</th><td><a class="not-highlighted" href="https://travian.idrinth.de/deff-call/{{ id }}/{{ key }}">{{ translations.here }}</a></tr>
                        {% endif %}
        </table>
        {% if key==target.key and key is not empty %}
            <form method="post">
                <input type="hidden" name="delete" value="deff-call"/>
                <input type="submit" value="DELETE"/>
            </form>
        {% endif %}
        {% if target.grain_storage > 0 %}
            <canvas id="chart"></canvas>
            <script>
                onExists('Chart', () => {
                    new Chart('chart', {
                      type: 'line',
                      options: {
                        elements: {
                          point:{
                            radius: 0
                          }
                        },
                        scales: {
                          y: {
                            show: true,
                          },
                          x: {
                            type: 'timeseries',
                          },
                        }
                      },
                      data: {
                        labels: {{ charts.labels|json_encode()|raw }},
                        datasets: [{
                          label: 'Storage',
                          data: {{ charts.max|json_encode()|raw }},
                          borderColor: 'rgb(192, 75, 75)',
                          tension: 0.1
                        },{
                          label: 'Impact',
                          data: {{ charts.impact|json_encode()|raw }},
                          borderColor: 'rgb(75, 75, 75)',
                          indexAxis: 'y',
                          tension: 0.1
                        },{
                          label: 'Grain',
                          data: {{ charts.data|json_encode()|raw }},
                          fill: true,
                          borderColor: 'rgb(75, 192, 192)',
                          backgroundColor: 'rgb(75, 192, 192, 0.5)',
                          tension: 0.1
                        },]
                      }
                    });
              });
            </script>
        {% else %}
            <p>{{ translations.no_grain_info }}</p>
        {% endif %}
    </div>
</div>
<div class="split2">
    <div>
    {% if session.id > 0 %}
        <h3>{{ translations.in_range }}</h3>
        <ul>
            {% for village,troops in own %}
                <li>{{ village }}<ul>
                        {% for troop,amount in troops %}
                            {% if amount.duration %}
                                <li>{{ amount.troops }} {{ translations[troop] }}({{ amount.duration|date('H:i:s') }})</li>
                            {% else %}
                                <li>{{ amount.troops }} {{ translations[troop] }}({{ amount.boots }}% {{ translations.hero_boot_bonus }}, {{ amount.standard }}% {{ translations.hero_standard_bonus }})</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% else %}
                <li>{{ translations.nothing_in_range }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
    <div>
    {% if worlddata %}
        <h3>{{ translations.map_sql_data }}</h3>
        <table>
            <tr>
                <th>{{ translations.player }}</th>
                <td><a target="_blank" href="https://{{ target.world }}/profile/{{ worlddata.player_id }}">{{ worlddata.player_name }}</a></td>
            </tr>
            <tr>
                <th>{{ translations.village }}</th>
                <td>{{ worlddata.village_name }}{% if worldata.is_capital==1 %}(Capital){% endif %}{% if worldata.is_city==1 %}(City){% endif %}</td>
            </tr>
            <tr>
                <th>{{ translations.alliance }}</th>
                <td><a target="_blank" href="https://{{ target.world }}/alliance/{{ worlddata.alliance_id }}">{{ worlddata.alliance_name }}</a></td>
            </tr>
            <tr>
                <th>{{ translations.population }}</th>
                <td>{{ worlddata.population }}</td>
            </tr>
        </table>
    {% endif %}
    </div>
</div>
<h3>{{ translations.troops_sent }}</h3>
<table>
    <tr><th>{{ translations.account }}</th><th>{{ translations.troops }}</th><th>{{ translations.arrival }}</th><th></th></tr>
            {% for support in supports %}
                {% if (key==target.key and key is not empty) or (session.id == support.creator and session.id > 0 ) %}
            <tr{% if strtotime(support.arrival) > strtotime(target.arrival) %} class="late"{% endif %}>
                <th{% if support.name is not empty %} title="{{ support.name ~ '#' ~ support.discriminator }}"{% endif %}>{{ support.account }}</th>
                <td>{{ support.scouts }}{{ translations.scouts }}<br/>{{ support.troops }}{{ translations.troops }}<br/>{{ support.hero }}{{ translations.heroes }}</td>
                <td title="{{ translations.created }} {{ support.created }}">{{ support.arrival }}</td>
                <td>{% if strtotime(now) < strtotime(support.created)+600 and support.creator==session.id %}<form method="post"><input type="hidden" name="delete" value="{{ support.aid }}"/><input type="submit" value="DELETE"/></form>{% endif %}</td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
{% include 'footer.twig' %}