{% include 'header.twig' %}
<h2>{{ translations.deff_call_overview }}<select onchange="this.value ? window.location = 'https://travian.idrinth.de/deff-call-overview/' + this.value : window.location = 'https://travian.idrinth.de/deff-call-overview'">
    <option{% if wrld.world==world %} selected{% endif %} value="">{{ translations.all_worlds }}</option>   
    {% for wrld in worlds %}
        <option{% if wrld.world==world %} selected{% endif %}>{{ wrld.world }}</option>   
{% endfor %}</select></h2>
<div class="grid2">
{% for deff_call in deff_calls %}
    <div>
        <h3><a href="https://travian.idrinth.de/deff-call/{{ deff_call.id }}{% if deff_call.advanced==1 %}/{{ deff_call.key }}{% endif %}">{{ deff_call.player }} ({{ deff_call.x }}|{{ deff_call.y }})</a></h3>
        <table>
            {% if deff_call.alliance.id is empty %}<tr><th>{{ translations.world }}</th><td>{{ deff_call.world }}</td></tr>{% endif %}
            {% if deff_call.alliance.id is not empty %}<tr><th>{{ translations.alliance }}</th><td><a href="/alliance/{{ deff_call.alliance.id }}">{{ deff_call.world }}: {{ deff_call.alliance.name }}</a></td></tr>{% endif %}
            <tr><th>{{ translations.village }}</th><td><a class="not-highlighted" href="https://{{ deff_call.world }}/position_details.php?x={{ deff_call.x }}&y={{ deff_call.y }}" target="_blank">{{ deff_call.player }} ({{ deff_call.x }}|{{ deff_call.y }})</a></td></tr>
            {% if deff_call.desiredTroops>0 %}<tr><th>{{ translations.troops }}</th><td>{{deff_call.troops }}/{{ deff_call.desiredTroops }}</td></tr>{% endif %}
            {% if deff_call.desiredScouts>0 %}<tr><th>{{ translations.scouts }}</th><td>{{deff_call.scouts }}/{{ deff_call.desiredScouts }}</td></tr>{% endif %}
            {% if deff_call.desiredHeroes>0 %}<tr><th>{{ translations.heroes }}</th><td>{{deff_call.heroes }}/{{ deff_call.desiredHeroes }}</td></tr>{% endif %}
            <tr><th>{{ translations.arrival }}</th><td>{{ deff_call.arrival }}</tr>
        </table>
    </div>
{% else %}
    <p>You have not joined any active deff-calls yet.</p>
{% endfor %}
</div>
{% include 'footer.twig' %}