<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="UTF-8">
        <title>{{ translations.title }}</title>
        <link rel="stylesheet" href="/styles.css"/>
        <script>
            const zeropad = (string) => {
                string = '' + string;
                if (string.length < 1) {
                    return '00';
                }
                if (string.length < 2) {
                    return '0' + string;;
                }
                return string;
            };
            window.setInterval(() => {
                const date = new Date();
                document.getElementById('time').innerHTML = zeropad(date.getUTCHours()) + ':' + zeropad(date.getUTCMinutes()) + ':' + zeropad(date.getUTCSeconds());
            }, 100);
            window.setInterval(() => {
                fetch('/ping');
            }, 10000);
        </script>
    </head>
    <body class="{{ style }}">
        <div id="header">
            <a class="invisible" href="/">
                <img src="/logo.png" alt=""/>
            </a>
            <h1>Travian Tools for v4.6 (alpha)</h1>
            <select style="width: auto; display: inline;" onchange="document.cookie='lang=' + this.value;location.reload();">
                <option{% if lang=='en' %} selected{% endif %} value="en">English</option>
                <option{% if lang=='de' %} selected{% endif %} value="de">Deutsch</option>
                <option{% if lang=='tr' %} selected{% endif %} value="tr">Türkçe</option>
                <option{% if lang=='nl' %} selected{% endif %} value="nl">Nederlands</option>
                <option{% if lang=='fi' %} selected{% endif %} value="fi">Suomi</option>
                <option{% if lang=='fr' %} selected{% endif %} value="fr">Français</option>
                <option{% if lang=='jp' %} selected{% endif %} value="jp">日本語</option>
            </select>
            <select style="width: auto; display: inline;" onchange="document.cookie='style=' + this.value;document.body.setAttribute('class', this.value);">
                <option{% if style=='light' %} selected{% endif %} value="light">&#9788;</option>
                <option{% if style=='dark' %} selected{% endif %} value="dark">&#9789;</option>
            </select>
            <div>
                <span id="time"></span>
                <br />
                {% if session.user is empty %}
                    <a href="/login">{{ translations.login }}</a>
                {% else %}
                    <a href="/profile">{{ session.user }}#{{ session.discriminator }}</a>
                {% endif %}
            </div>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/delivery">{{ translations.delivery }}</a>
                </li>
                <li>
                    <a href="/hero-check">{{ translations.hero_check }}</a>
                </li>
                <li>
                    <a href="/deff-call">{{ translations.deff_call }}</a>
                </li>
                <li>
                    <a href="/soldier-cost">{{ translations.soldier_cost }}</a>
                </li>
                {% if session.user is not empty %}
                    <li>
                        <a href="/alliance">{{ translations.alliance }}</a>
                    </li>
                    <li>
                        <a href="/troop-tool">{{ translations.troop_tool }}</a>
                    </li>
                    <li>
                        <a href="/troop-tool">{{ translations.deff_call_overview }}</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <article>
            <div class="page">