<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="UTF-8">
        <title>{{ translations.title }}</title>
        <style>
            html, body {
                width: 100%;
                height: 100%;
                background: #ddd;
                color: #333;
            }
            textarea, input, select {
                background: #eee;
                display:block;
                width: 100%;
                box-sizing: border-box;
            }
            input[type=submit] {
                background: red;
                color: #fff;
            }
            label {
                display: block;
            }
            a, a:visited, a:hover, a:focus, a:active {
                color: red;
            }
            h1 > a {
                text-decoration: none;
            }
            .error {
                color: red;
                font-weight: bold;
            }
            body > * {
                width: 80%;
                max-width: 800px;
                margin: 0 auto;
                padding: 0;
                box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
            }
            body > div > .page {
                margin: 0 5%;
                width: 90%;
                box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
            }
            body > h1,
            body > footer {
                background: #333;
                color: #ddd;
                text-align: center;
            }
            body > iframe {
                max-width: 100%;
            }
            nav {
                display: block;
            }
            nav > ul {
                display: flex;
                margin: 0;
                padding: 0;
            }
            nav > ul > li {
                display: block;
                margin: 0;
                padding: 0;
                flex: auto;
                text-align: center;
            }
            .result {
                background: #d0d0d0;
                border-radius: 1em;
                box-shadow: 3px 3px 5px #000;
                margin: 5px;
            }
            .result.hidden > table {
                display: none;
            }
            h3 {
                text-align: center;
            }
            .result > h3 {
                cursor: pointer;
            }
            .late {
                background: red;
            }
            .split2 {
               display: flex; 
            }
            .split2 > table {
                flex: auto;
            }
        </style>
    </head>
    <body>
        <h1>
            <a href="/">
                <img src="/logo.png" alt=""/>
            </a>
            Travian Tools for v4.6 (alpha)
            <select style="width: auto; display: inline;" onchange="document.cookie='lang=' + this.value;location.reload();">
                <option{% if lang=='en' %} selected{% endif %} value="en">English</option>
                <option{% if lang=='de' %} selected{% endif %} value="de">Deutsch</option>
                <option{% if lang=='tr' %} selected{% endif %} value="tr">Türkçe</option>
                <option{% if lang=='nl' %} selected{% endif %} value="nl">Nederlands</option>
                <option{% if lang=='fi' %} selected{% endif %} value="fi">Suomi</option>
                <option{% if lang=='fi' %} selected{% endif %} value="fr">Français</option>
            </select>
        </h1>
        <nav>
            <ul>
                <li>
                    <a href="/delivery">{{ translations.delivery }}</a>
                </li>
                <li>
                    <a href="/hero-check">{{ translations.hero_check }}</a>
                </li>
                <li>
                    <a href="/deff-call">{{ translations.deff_call }}</a>
                </li>
            </ul>
        </nav>
        <article>
            <div class="page">