<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="UTF-8">
        <title>{{ translations.title }} (alpha)</title>
        <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
        <link rel="stylesheet" href="/styles.css"/>
        <script type="text/javascript">
            function onExists(globalProperty, callback) {
                if (typeof window[globalProperty] === 'undefined') {
                    setTimeout(() => {
                        onExists(globalProperty, callback);
                    }, 100);
                    return;
                }
                callback();
            }
            function setCookie(name, value) {
                let date = new Date();
                date.setTime(date.getTime() + 86400);
                document.cookie = name + "=" + value + "; " + date.toUTCString() + "; Max-Age=86400; path=/; domain=travian.idrinth.de; secure; SameSite=Strict";
            }
        </script>
    </head>
    <body class="{{ style }}">
        <div id="header">
            <a class="invisible" href="/">
                <img src="/logo.png" alt=""/>
            </a>
            <h1>{{ translations.title }} (alpha)</h1>
            <select style="width: auto; display: inline;" onchange="setCookie('lang', this.value);location.reload();">
                <option{% if lang=='da' %} selected="selected{% endif %} value="da">Dansk</option>
                <option{% if lang=='de' %} selected="selected{% endif %} value="de">Deutsch</option>
                <option{% if lang=='en' %} selected="selected"{% endif %} value="en">English</option>
                <option{% if lang=='fr' %} selected="selected{% endif %} value="fr">Français</option>
                <option{% if lang=='nl' %} selected="selected{% endif %} value="nl">Nederlands</option>
                <option{% if lang=='fi' %} selected="selected{% endif %} value="fi">Suomi</option>
                <option{% if lang=='tr' %} selected="selected{% endif %} value="tr">Türkçe</option>
                <option{% if lang=='jp' %} selected="selected{% endif %} value="jp">日本語</option>
            </select>
            <select style="width: auto; display: inline;" onchange="setCookie('style', this.value);document.body.setAttribute('class', this.value);">
                <option{% if style=='light' %} selected{% endif %} value="light">&#9788;</option>
                <option{% if style=='dark' %} selected{% endif %} value="dark">&#9789;</option>
            </select>
            <div>
                <span id="time"></span>
                <br />
                {% if session.user is empty %}
                    <a href="/login">{{ translations.login }}</a>
                {% else %}
                    <a href="/profile">{{ session.user }}#{{ session.discriminator }}</a>
                {% endif %}
                <select onchange="setCookie('world', this.value);location.reload();">
                    <option value="">{{ translations.select_world }}</option>
                    {% for w in worlds %}
                        <option {% if w==world %}selected {% endif %}}value="{{ w }}">{{ w }}</option>
                    {% endfor %}
                </select>
                <datalist id="world-datalist">
                    {% for w in worlds %}
                        <option value="{{ w }}"/>
                    {% endfor %}
                </datalist>
            </div>
        </div>
        <nav>
            <ul>
                <li>{{ translations.menu_def }}<ul>
                        <li>
                            <a href="/deff-call">{{ translations.deff_call }}</a>
                        </li>
                        <li>
                            <a{% if session.id is empty %} class="inactive"{% endif %} href="/deff-call-overview">{{ translations.deff_call_overview }}</a>
                        </li>
                        <li>
                            <a href="/attack-parser">{{ translations.attack_parser }}</a>
                        </li>
                        <li>
                            <a{% if session.id is empty %} class="inactive"{% endif %} href="/attack-overview">{{ translations.attack_overview }}</a>
                        </li>
                    </ul>
                </li>
                <li>{{ translations.menu_off }}<ul>
                        <li>
                            <a{% if session.id is empty %} class="inactive"{% endif %} href="/off-picker">{{ translations.off_picker }}</a>
                        </li>
                        <li>
                            <a href="/inactive-search">{{ translations.inactive_search }}</a>
                        </li>
                        <li>
                            <a href="/attack-organizer">{{ translations.attack_organizer }}</a>
                        </li>
                    </ul>
                </li>
                <li>{{ translations.menu_account }}<ul>
                        <li>
                            <a{% if session.id is empty %} class="inactive"{% endif %} href="/alliance">{{ translations.alliance }}</a>
                        </li>
                        <li>
                            <a{% if session.id is empty %} class="inactive"{% endif %} href="/troop-tool">{{ translations.troop_tool }}</a>
                        </li>
                        <li>
                            <a href="/my-hero">{{ translations.my_hero }}</a>
                        </li>
                        <li>
                            <a href="/profile">{{ translations.profile }}</a>
                        </li>
                    </ul>
                </li>
                <li>{{ translations.menu_resources }}<ul>
                        <li>
                            <a href="/delivery">{{ translations.delivery }}</a>
                        </li>
                        <li>
                            <a href="/soldier-cost">{{ translations.soldier_cost }}</a>
                        </li>
                        <li>
                            <a href="/resource-push">{{ translations.resource_push }}</a>
                        </li>
                    </ul>
                </li>
                <li>{{ translations.menu_other }}<ul>
                        <li>
                            <a href="/hero-check">{{ translations.hero_check }}</a>
                        </li>
                        <li>
                            <a href="/worlds">{{ translations.worlds }}</a>
                        </li>
                        <li>
                            <a href="/faq">{{ translations.faq }}</a>
                        </li>
                        <li>
                            <a href="/alarm">{{ translations.alarm }}</a>
                        </li>
                    </ul>
                </li>
                <li>Discord<ul>
                        <li>
                            <a href="https://discord.gg/QRtavVBEwE" target="_blank">Discord-Server</a>
                        </li>
                        <li>
                            <a href="https://discord.com/oauth2/authorize?client_id=926071800021016626&scope=bot%20applications.commands&permissions=0" target="_blank">Discord-Bot</a>
                        </li>
                    </ul>
                </li>
                <li><a href="https://tickets.idrinth.de" target="_blank">Tickets(Features, Bugs, etc.)</a></li>
            </ul>
        </nav>
        <article>
            <div class="page">
