{% include 'header.twig' %}
<h2>{{ translations.hero_gear }}</h2>
<p>The data for this tool was provided by LolaM</p>
{% if results %}
    {% if results.error %}
        <p class="error">{{ results.error }}</p>
    {% else %}
        <div class="result">
            <h3>{{ translations.items }}</h3>
            <table>
                <tr><th>{{ translations.helmet }}</th><td>{{ translations[results.helmet] }}</td><td>{{ translations[results.helmet ~ '_effect'] }}</td></tr>
                <tr><th>{{ translations.armor }}</th><td>{{ translations[results.armor] }}</td><td>{{ translations[results.armor ~ '_effect'] }}</td></tr>
                <tr><th>{{ translations.right_hand }}</th><td>{{ translations[results.right_hand] }}</td><td>{{ translations[results.right_hand ~ '_effect'] }}</td></tr>
                <tr><th>{{ translations.left_hand }}</th><td>{{ translations[results.left_hand]  }}</td><td>{{ translations[results.left_hand ~ '_effect']  }}</td></tr>
                <tr><th>{{ translations.shoes }}</th><td>{{ translations[results.shoes] }}</td><td>{{ translations[results.shoes ~ '_effect'] }}</td></tr>
                <tr><th>{{ translations.horse }}</th><td>{{ translations[results.horse] }}</td><td>{{ translations[results.horse ~ '_effect'] }}</td></tr>
            </table>
        </div>
    {% endif %}
{% endif %}
<form method="post">
    <fieldset>
        <legend>{{ translations.main }}</legend>
        <label>{{ translations.hero_image_url }}*<input name="url" type="url" value="{{ inputs.url }}"/></label>
        <input type="submit"/>
    </fieldset>
</form>
{% include 'footer.twig' %}