{% include 'header.twig' %}
<div class="split2">
    <div id="map"></div>
    <div>
        <label title="name1,name2">{{ translations.names }}*<input id="names" type="text"/></label>
        <label title="alliance1,alliance2">{{ translations.alliance_group1 }}*<input id="alliances" type="text"/></label>
        <label title="alliance1,alliance2">{{ translations.alliance_group2 }}*<input id="alliances2" type="text"/></label>
        <label>{{ translations.background_color }}<input id="background" value="#008000" type="color"/></label>
        <label>{{ translations.player_hover_color }}<input id="player_hover" value="#400080" type="color"/></label>
        <label>{{ translations.alliance_hover_color }}<input id="alliance_hover" value="#0000FF" type="color"/></label>
        <label>{{ translations.player_color }}<input id="player" value="#FFFF00" type="color"/></label>
        <label>{{ translations.alliance_color1 }}<input id="alliance1" value="#FF8040" type="color"/></label>
        <label>{{ translations.alliance_color2 }}<input id="alliance2" value="#00FF40" type="color"/></label>
        <label>{{ translations.base_color }}<input id="base" value="#000000" type="color"/></label>
        <label>{{ translations.capitol_color }}<input id="capitol" value="#000000" type="color"/></label>
        <label>{{ translations.show_grid }}<input id="grid" type="checkbox"/></label>
        <label>{{ translations.scale }}<input id="scale" type="number" value="1" min="1" max="16"/></label>
        <div id="output"></div>
    </div>
</div>
<script type="text/javascript">
    onExists('Konva', () => {
        const equal = (first, second) => {
            first = first.replace(/^ +| +$/, '');
            second = second.replace(/^ +| +$/, '');
            if (first === '') {
                return false;
            }
            if (second === '') {
                return false;
            }
            if (first === second) {
                return true;
            }
            if (first.toLowerCase() === second.toLowerCase()) {
                return true;
            }
            return false;
        };
        const includes = (list, value) => {
            value = value.replace(/^ +| +$/, '');
            if (value === '') {
                return false;
            }
            if (list.includes(value)) {
                return true;
            }
            for (const val of list) {
                if (equal(val, value)) {
                    return true;
                }
            }
            return false;
        };
        const stage = new Konva.Stage({container: 'map',width: 802,height: 802,draggable:true});
        const background = new Konva.Layer();
        background.add(new Konva.Rect({
            x: 0,
            width: stage.width(),
            y: 0,
            height: stage.height(),
            fill: document.getElementById('background').value,
        }));
        stage.add(background);
        background.draw();
        const grid = new Konva.Layer();
        for (let i = 21; i<802; i += 20) {
            grid.add(new Konva.Line({
                x: 0,
                y: i,
                stroke: 'rgba(0,0,0,0.25)',
                tension: 1,
                points: [0, i, 802, i]
            }));
            grid.add(new Konva.Line({
                x: i,
                y: 0,
                stroke: 'rgba(0,0,0,0.25)',
                tension: 1,
                points: [i, 0, i, 802]
            }));
        }
        stage.add(grid);
        grid.draw();
        const gridchange = () => {
            const show = document.getElementById('grid').checked;
            for (const child of grid.children) {
                child.stroke(show ? 'rgba(0,0,0,0.25)' : 'rgba(0,0,0,0)')
            }
        }
        document.getElementById('grid').onchange = gridchange;
        gridchange();
        let playerHoverColor = document.getElementById('player_hover').value;
        let allianceHoverColor = document.getElementById('alliance_hover').value;
        let playerColor = document.getElementById('player').value;
        let allianceColor = document.getElementById('alliance1').value;
        let allianceColor2 = document.getElementById('alliance2').value;
        let baseColor = document.getElementById('base').value;
        let baseCapitolColor = document.getElementById('capitol').value;
        document.getElementById('background').onchange = () => {
            background.children[0].fill(document.getElementById('background').value);
        };
        document.getElementById('player_hover').onchange = () => {
            playerHoverColor = document.getElementById('player_hover').value;
        };
        document.getElementById('alliance_hover').onchange = () => {
            allianceHoverColor = document.getElementById('alliance_hover').value;
        };
        const villages = new Konva.Layer();
        const paint = () => {
            document.getElementById('output').innerHTML = '';
            const names = document.getElementById('names').value.split(',');
            const alliances = document.getElementById('alliances').value.split(',');
            const alliances2 = document.getElementById('alliances2').value.split(',');
            for (const circle of villages.children) {
                if (includes(names, circle.attrs.player)) {
                    circle.fill(playerColor);
                } else if (includes(alliances, circle.attrs.alliance)) {
                    circle.fill(allianceColor);
                } else if (includes(alliances2, circle.attrs.alliance)) {
                    circle.fill(allianceColor2);
                } else if (circle.attrs.isCapital) {
                    circle.fill(baseCapitolColor);
                } else {
                    circle.fill(baseColor);
                }
            }
        };
        for (const village of {{ villages|json_encode()|raw }}) {
            const circle = village.isCapital ? new Konva.Rect({
                x: 2 * (village.x +201),
                y: village.y <0 ? 2 * (201 - village.y) : 2 * (201 - village.y),
                width: 2,
                height: 2,
                fill: 'red',
                player: village.player,
                alliance: village.alliance,
                isCapital: village.isCapital,
            }) : new Konva.Circle({
                x: 2 * (village.x +201),
                y: village.y <0 ? 2 * (201 - village.y) : 2 * (201 - village.y),
                radius: 1,
                fill: 'black',
                player: village.player,
                alliance: village.alliance,
                isCapital: village.isCapital,
            });
            circle.on('mouseover touchstart', function () {
                const names = document.getElementById('names').value.split(',');
                const alliances = document.getElementById('alliances').value.split(',');
                const alliances2 = document.getElementById('alliances2').value.split(',');
                for (const circle of villages.children) {
                    if (equal(circle.attrs.player, village.player)) {
                        circle.fill(playerHoverColor);
                    } else if (equal(circle.attrs.alliance, village.alliance)) {
                        circle.fill(allianceHoverColor);
                    } else if (includes(names, circle.attrs.player)) {
                        circle.fill(playerColor);
                    } else if (includes(alliances, circle.attrs.alliance)) {
                        circle.fill(allianceColor);
                    } else if (includes(alliances2, circle.attrs.alliance)) {
                        circle.fill(allianceColor2);
                    }
                }
                document.getElementById('output').innerHTML = village.x + '|' + village.y + "<br/>Village: " + village.village + (village.isCapital ? '(Capital)' : '') + "<br/>Player: " + village.player + (village.alliance ? "<br/>Alliance: " + village.alliance : '');
            });
            circle.on('mouseout touchend', paint);
            villages.add(circle);
        }
        document.getElementById('player').onchange = () => {
            playerColor = document.getElementById('player').value;
            paint();
        };
        document.getElementById('alliance1').onchange = () => {
            allianceColor = document.getElementById('alliance1').value;
            paint();
        };
        document.getElementById('alliance2').onchange = () => {
            allianceColor2 = document.getElementById('alliance2').value;
            paint();
        };
        document.getElementById('base').onchange = () => {
            baseColor = document.getElementById('base').value;
            paint();
        };
        document.getElementById('capitol').onchange = () => {
            baseCapitolColor = document.getElementById('capitol').value;
            paint();
        };
        document.getElementById('names').onkeyup = paint;
        document.getElementById('alliances').onkeyup = paint;
        document.getElementById('alliances2').onkeyup = paint;
        villages.draw();
        stage.add(villages);
        stage.on('wheel', (e) => {
            e.evt.preventDefault();

            const oldScale = stage.scaleX();
            const pointer = stage.getPointerPosition();

            const mousePointTo = {
                x: (pointer.x - stage.x()) / oldScale,
                y: (pointer.y - stage.y()) / oldScale,
            };
            let direction = e.evt.deltaY > 0 ? 1 : -1;
            if (e.evt.ctrlKey) {
                direction = -direction;
            }
            let newScale = direction > 0 ? oldScale / 1.1 : oldScale * 1.1;
            if (newScale > 16) {
                newScale = 16;
            } else if (newScale < 1) {
                newScale = 1;
            }
            stage.scale({ x: newScale, y: newScale });
            stage.position({
                x: newScale === 1 ? 0 : pointer.x - mousePointTo.x * newScale,
                y: newScale === 1 ? 0 : pointer.y - mousePointTo.y * newScale,
            });
        });
        const scale = () => {
            newScale = Number.parseInt(document.getElementById('scale').value);
            stage.scale({ x: newScale, y: newScale });
            if (newScale === 1) {                
                stage.position({
                    x: 0,
                    y: 0,
                });
            }
        };
        document.getElementById('scale').onchange = scale;
        scale();
        paint();
    });
</script>
{% include 'footer.twig' %}