{% include 'header.twig' %}
<h2>{{ translations.profile }}</h2>
<h3>{{ translations.accounts }}</h3>
<table>
    <tr><th>{{ translations.world }}</th><th>{{ translations.name }}</th><th>{{ translations.dual }}</th><th>{{ translations.dual_key }}</th><th>{{ translations.delete }}</th></tr>
    {% for wrld in user_worlds %}
        <tr>
            <th>{{ wrld.world }}</th>
            <td>{{ wrld.name }}</td>
            <td>{% if wrld.dual %}Dual{% else %}<form method="post"><input placeholder="{{ translations.dual_key }}" type="text" name="key" required/><input type="hidden" name="join-dual" value="{{ wrld.world }}"/><input value="Join as Dual" type="submit"/>{% endif %}</td>
            <td>{% if wrld.main %}{{ wrld.join }}{% endif %}</td>
            <td><form method="post"><input type="hidden" name="delete-world" value="{{ wrld.aid }}"/><input type="submit"/></td>
        </tr>
    {% endfor %}
</table>
<form method="post">
    <fieldset>
        <legend>{{ translations.main }}</legend>
        <div class="split2">
            <label>{{ translations.world }}<input required name="world"/></label>
            <label>{{ translations.name }}<input required name="name"/></label>
        </div>
        <input type="submit"/>
    </fieldset>
</form>
<h3>{{ translations.alliances }}</h3>
<table>
    <tr><th>{{ translations.world }}</th><th>{{ translations.name }}</th><th>{{ translations.rank }}</th><th>{{ translations.delete }}</th></tr>
{% for alliance in alliances %}
    <tr>
        <th>{{ alliance.world }}</th>
        <td><a href="/alliance/{{ alliance.id }}">{{ alliance.name }}</a></td>
        <td>{{ alliance.rank }}</td>
        <td><form method="post"><input type="hidden" name="delete-alliance" value="{{ alliance.aid }}"/><input type="submit"/></td>
    </tr>
{% endfor %}
</table>
<h3>{{ translations.deff_calls }}</h3>
<table>
    <tr><th>{{ translations.world }}</th><th>{{ translations.position }}</th><th>{{ translations.arrival }}</th></tr>
{% for call in deff_calls %}
    <tr>
        <th>{{ call.world }}</th>
        <td><a href="/deff-call/{{ call.id }}{% if call.advanced %}/{{ call.key }}{% endif %}">({{ call.x }}|{{ call.y }})</a></td>
        <td>{{ call.arrival }}</a></td>
    </tr>
{% endfor %}
</table>
{% include 'footer.twig' %}
