{% include 'header.twig' %}
<h2>{{ translations.profile }}</h2>
<h3>{{ translations.deff_calls }}</h3>
<table>
    <tr><th>{{ translations.world }}</th><th>{{ translations.position }}</th><th>{{ translations.arrival }}</th></tr>
{% for call in deff_calls %}
    <tr>
        <th>{{ call.world }}</th>
        <td><a href="/deff-call/{{ call.id }}{% if call.advanced %}/{{ call.key }}{% endif %}">({{ call.x }}|{{ call.y }})</a></td>
        <td>{{ call.arrival }}</a></td>
    </tr>
{% endfor %}
</table>
<h3>{{ translations.alliances }}</h3>
<table>
    <tr><th>{{ translations.world }}</th><th>{{ translations.name }}</th><th>{{ translations.rank }}</th></tr>
{% for alliance in alliances %}
    <tr>
        <th>{{ alliance.world }}</th>
        <td><a href="/alliance/{{ alliance.id }}">{{ alliance.name }}</a></td>
        <td>{{ alliance.rank }}</td>
    </tr>
{% endfor %}
</table>
{% include 'footer.twig' %}
