{% include 'header.twig' %}
<h2>{{ translations.soldier_cost }}</h2>
{% if result %}
    <table>
        <tr>
            <th>{{ translations.lumber }}</th>
            <td>{{ result.lumber }}({{ result.lumber_ph }}/h)</td>
        </tr>
        <tr>
            <th>{{ translations.clay }}</th>
            <td>{{ result.clay }}({{ result.clay_ph }}/h)</td>
        </tr>
        <tr>
            <th>{{ translations.iron }}</th>
            <td>{{ result.iron }}({{ result.iron_ph }}/h)</td>
        </tr>
        <tr>
            <th>{{ translations.crop }}</th>
            <td>{{ result.crop }}({{ result.crop_ph }}/h)</td>
        </tr>
        <tr>
            <th>{{ translations.total }}</th>
            <td>{{ result.lumber + result.clay + result.iron + result.crop }}</td>
        </tr>
        <tr>
            <th>{{ translations.duration }}</th>
            <td>{{ floor(result.duration/3600) }}:{{ floor(result.duration/60)%60 }}:{{ result.duration%60 }}</td>
        </tr>
        <tr>
            <th>{{ translations.normal_recruiting }}</th>
            <td>{{ result.normal_recruiting }}</td>
        </tr>
    </table>
{% else %}
    <p>{{ translations.soldier_cost_explanation }}</p>
{% endif %}
<form method="post">
    <fieldset>
        <legend>{{ translations.main }}</legend>
        <label>{{ translations.troops }}<input required name="troops" type="number" min="1" value="{{ inputs.troops }}"/></label>
        <label>{{ translations.troop_type }}<select required name="troop_type">
                <optgroup label="{{ translations.romans }}">
                    <option{% if inputs.troop_type=='roman_legionaire' %} selected{% endif %} value="roman_legionaire">{{ translations.roman_soldier1 }}</option>
                    <option{% if inputs.troop_type=='roman_praetorian' %} selected{% endif %} value="roman_praetorian">{{ translations.roman_soldier2 }}</option>
                    <option{% if inputs.troop_type=='roman_imperian' %} selected{% endif %} value="roman_imperian">{{ translations.roman_soldier3 }}</option>
                    <option{% if inputs.troop_type=='roman_legatis' %} selected{% endif %} value="roman_legatis">{{ translations.roman_soldier4 }}</option>
                    <option{% if inputs.troop_type=='roman_imperatoris' %} selected{% endif %} value="roman_imperatoris">{{ translations.roman_soldier5 }}</option>
                    <option{% if inputs.troop_type=='roman_caesaris' %} selected{% endif %} value="roman_caesaris">{{ translations.roman_soldier6 }}</option>
                    <option{% if inputs.troop_type=='roman_catapult' %} selected{% endif %} value="roman_catapult">{{ translations.roman_catapult }}</option>
                    <option{% if inputs.troop_type=='roman_ram' %} selected{% endif %} value="roman_ram">{{ translations.roman_ram }}</option>
                </optgroup>
                <optgroup label="{{ translations.gauls }}">
                    <option{% if inputs.troop_type=='gaul_phalanx' %} selected{% endif %} value="gaul_phalanx">{{ translations.gaul_soldier1 }}</option>
                    <option{% if inputs.troop_type=='gaul_swordsman' %} selected{% endif %} value="gaul_swordsman">{{ translations.gaul_soldier2 }}</option>
                    <option{% if inputs.troop_type=='gaul_pathfinder' %} selected{% endif %} value="gaul_pathfinder">{{ translations.gaul_soldier3 }}</option>
                    <option{% if inputs.troop_type=='gaul_thunder' %} selected{% endif %} value="gaul_thunder">{{ translations.gaul_soldier4 }}</option>
                    <option{% if inputs.troop_type=='gaul_druid' %} selected{% endif %} value="gaul_druid">{{ translations.gaul_soldier5 }}</option>
                    <option{% if inputs.troop_type=='gaul_haeduan' %} selected{% endif %} value="gaul_haeduan">{{ translations.gaul_soldier6 }}</option>
                    <option{% if inputs.troop_type=='gaul_ram' %} selected{% endif %} value="gaul_ram">{{ translations.gaul_ram }}</option>
                    <option{% if inputs.troop_type=='gaul_trebuchet' %} selected{% endif %} value="gaul_trebuchet">{{ translations.gaul_catapult }}</option>
                </optgroup>
                <optgroup label="{{ translations.teutons }}">
                    <option{% if inputs.troop_type=='teuton_clubswinger' %} selected{% endif %} value="teuton_clubswinger">{{ translations.teuton_soldier1 }}</option>
                    <option{% if inputs.troop_type=='teuton_spearman' %} selected{% endif %} value="teuton_spearman">{{ translations.teuton_soldier2 }}</option>
                    <option{% if inputs.troop_type=='teuton_axeman' %} selected{% endif %} value="teuton_axeman">{{ translations.teuton_soldier3 }}</option>
                    <option{% if inputs.troop_type=='teuton_scout' %} selected{% endif %} value="teuton_scout">{{ translations.teuton_soldier4 }}</option>
                    <option{% if inputs.troop_type=='teuton_paladin' %} selected{% endif %} value="teuton_paladin">{{ translations.teuton_soldier5 }}</option>
                    <option{% if inputs.troop_type=='teuton_knight' %} selected{% endif %} value="teuton_knight">{{ translations.teuton_soldier6 }}</option>
                    <option{% if inputs.troop_type=='teuton_ram' %} selected{% endif %} value="teuton_ram">{{ translations.teuton_ram }}</option>
                    <option{% if inputs.troop_type=='teuton_catapult' %} selected{% endif %} value="teuton_catapult">{{ translations.teuton_catapult }}</option>
                </optgroup>
                <optgroup label="{{ translations.egyptians }}">
                    <option{% if inputs.troop_type=='egyptian_slave' %} selected{% endif %} value="egyptian_slave">{{ translations.egyptian_soldier1 }}</option>
                    <option{% if inputs.troop_type=='egyptian_ash' %} selected{% endif %} value="egyptian_ash">{{ translations.egyptian_soldier2 }}</option>
                    <option{% if inputs.troop_type=='egyptian_khopesh' %} selected{% endif %} value="egyptian_khopesh">{{ translations.egyptian_soldier3 }}</option>
                    <option{% if inputs.troop_type=='egyptian_sopdu' %} selected{% endif %} value="egyptian_sopdu">{{ translations.egyptian_soldier4 }}</option>
                    <option{% if inputs.troop_type=='egyptian_anhur' %} selected{% endif %} value="egyptian_anhur">{{ translations.egyptian_soldier5 }}</option>
                    <option{% if inputs.troop_type=='egyptian_resheph' %} selected{% endif %} value="egyptian_resheph">{{ translations.egyptian_soldier6 }}</option>
                    <option{% if inputs.troop_type=='egyptian_ram' %} selected{% endif %} value="egyptian_ram">{{ translations.egyptian_ram }}</option>
                    <option{% if inputs.troop_type=='egyptian_catapult' %} selected{% endif %} value="egyptian_catapult">{{ translations.egyptian_catapult }}</option>
                </optgroup>
                <optgroup label="{{ translations.huns }}">
                    <option{% if inputs.troop_type=='hun_mercenary' %} selected{% endif %} value="hun_mercenary">{{ translations.hun_soldier1 }}</option>
                    <option{% if inputs.troop_type=='hun_bowman' %} selected{% endif %} value="hun_bowman">{{ translations.hun_soldier2 }}</option>
                    <option{% if inputs.troop_type=='hun_spotter' %} selected{% endif %} value="hun_spotter">{{ translations.hun_soldier3 }}</option>
                    <option{% if inputs.troop_type=='hun_steppe' %} selected{% endif %} value="hun_steppe">{{ translations.hun_soldier4 }}</option>
                    <option{% if inputs.troop_type=='hun_marksman' %} selected{% endif %} value="hun_marksman">{{ translations.hun_soldier5 }}</option>
                    <option{% if inputs.troop_type=='hun_marauder' %} selected{% endif %} value="hun_marauder">{{ translations.hun_soldier6 }}</option>
                    <option{% if inputs.troop_type=='hun_ram' %} selected{% endif %} value="hun_ram">{{ translations.hun_ram }}</option>
                    <option{% if inputs.troop_type=='hun_catapult' %} selected{% endif %} value="hun_catapult">{{ translations.hun_catapult }}</option>
                </optgroup>
            </select></label>
        <input type="submit"/>
    </fieldset>
    <fieldset>
        <legend>{{ translations.advanced }}</legend>
        <label>{{ translations.recruiting_level }}<input required name="recruiting_level" type="number" min="1" max="20" value="{{ inputs.recruiting_level }}"/></label>
        <label>{{ translations.use_great_recruiting }}<input name="use_great_recruiting" value="1" type="checkbox"{% if inputs.use_great_recruiting %} checked{% endif %}/></label>
        <label>{{ translations.great_recruiting_level }}<input required name="great_recruiting_level" type="number" min="0" value="{{ inputs.great_recruiting_level }}" max="20"/></label>
        <label>{{ translations.horse_trough_level }}<input required name="horse_trough_level" type="number" min="0" value="{{ inputs.horse_trough_level }}" max="20"/></label>
        <label>{{ translations.helmet_bonus }}<select name="helmet_bonus">
                <option{% if inputs.helmet_bonus==1 %} selected{% endif %} value="1">0%</option>
                <option{% if inputs.helmet_bonus==0.9 %} selected{% endif %} value="0.9">10%</option>
                <option{% if inputs.helmet_bonus==0.85 %} selected{% endif %} value="0.85">15%</option>
                <option{% if inputs.helmet_bonus==0.8 %} selected{% endif %} value="0.8">20%</option>
            </select></label>
        <label>{{ translations.artefact_bonus }}<select name="artefact_bonus">
                <option{% if inputs.artefact_bonus==1 %} selected{% endif %} value="1">0%</option>
                <option{% if inputs.artefact_bonus==0.75 %} selected{% endif %} value="0.75">25%</option>
                <option{% if inputs.artefact_bonus==0.5 %} selected{% endif %} value="0.5">50%</option>
                <option{% if inputs.artefact_bonus==0.25 %} selected{% endif %} value="0.25">75%</option>
            </select></label>
        <label>{{ translations.alliance_bonus }}<select name="alliance_bonus">
                <option{% if inputs.alliance_bonus==1 %} selected{% endif %} value="1">0%</option>
                <option{% if inputs.alliance_bonus==0.98 %} selected{% endif %} value="0.98">2%</option>
                <option{% if inputs.alliance_bonus==0.96 %} selected{% endif %} value="0.96">4%</option>
                <option{% if inputs.alliance_bonus==0.94 %} selected{% endif %} value="0.94">6%</option>
                <option{% if inputs.alliance_bonus==0.92 %} selected{% endif %} value="0.92">8%</option>
                <option{% if inputs.alliance_bonus==0.9 %} selected{% endif %} value="0.9">10%</option>
            </select></label>
    </fieldset>
</form>
{% include 'footer.twig' %}