{% include 'header.twig' %}
<h2>{{ translations.troop_tool }}</h2>
{% set lastWorld='' %}
{% for woerld,tribes in troops %}
    <h3>{{ woerld }}</h3>
    {% for tribe,villages in tribes %}
        <h4>{{ translations[tribe ~ 's'] }}</h4>
        <form method="post">
            <table class="collapsed-table">
                <tr>
                    <th>Village</th>
                    <th>{{ translations[tribe ~ '_soldier1'] }}</th>
                    <th>{{ translations[tribe ~ '_soldier2'] }}</th>
                    <th>{{ translations[tribe ~ '_soldier3'] }}</th>
                    <th>{{ translations[tribe ~ '_soldier4'] }}</th>
                    <th>{{ translations[tribe ~ '_soldier5'] }}</th>
                    <th>{{ translations[tribe ~ '_soldier6'] }}</th>
                    <th>{{ translations[tribe ~ '_ram'] }}</th>
                    <th>{{ translations[tribe ~ '_catapult'] }}</th>
                    <th>{{ translations[tribe ~ '_settler'] }}</th>
                    <th>{{ translations[tribe ~ '_chief'] }}</th>
                    <th>{{ translations.hero }}</th>
                    <th>{{ translations.tournament_square }}</th>
                </tr>
                {% for village in villages %}
                    <tr class="{{ tribe }} troops">
                        <th><a href="https://{{ village.world }}/position_details.php?x={{ village.x }}&y={{ village.y }}" target="_blank">{{ village.name }} ({{ village.x }}|{{ village.y }})</a></th>
                        <td class="soldier1"><input title="{{ translations[tribe ~ '_soldier1'] }}" name="soldier1[{{ village.aid }}]" type="number" value="{{ village.soldier1 }}" min="0" /><span class="icon"></span></td>
                        <td class="soldier2"><input title="{{ translations[tribe ~ '_soldier2'] }}" name="soldier2[{{ village.aid }}]" type="number" value="{{ village.soldier2 }}" min="0" /><span class="icon"></span></td>
                        <td class="soldier3"><input title="{{ translations[tribe ~ '_soldier3'] }}" name="soldier3[{{ village.aid }}]" type="number" value="{{ village.soldier3 }}" min="0" /><span class="icon"></span></td>
                        <td class="soldier4"><input title="{{ translations[tribe ~ '_soldier4'] }}" name="soldier4[{{ village.aid }}]" type="number" value="{{ village.soldier4 }}" min="0" /><span class="icon"></span></td>
                        <td class="soldier5"><input title="{{ translations[tribe ~ '_soldier5'] }}" name="soldier5[{{ village.aid }}]" type="number" value="{{ village.soldier5 }}" min="0" /><span class="icon"></span></td>
                        <td class="soldier6"><input title="{{ translations[tribe ~ '_soldier6'] }}" name="soldier6[{{ village.aid }}]" type="number" value="{{ village.soldier6 }}" min="0" /><span class="icon"></span></td>
                        <td class="ram"><input title="{{ translations.ram }}" name="ram[{{ village.aid }}]" type="number" value="{{ village.ram }}" min="0" /><span class="icon"></span></td>
                        <td class="catapult"><input title="{{ translations.catapult }}" name="catapult[{{ village.aid }}]" type="number" value="{{ village.catapult }}" min="0" /><span class="icon"></span></td>
                        <td class="settler"><input title="{{ translations.settler }}" name="settler[{{ village.aid }}]" type="number" value="{{ village.settler }}" min="0" max="9" /><span class="icon"></span></td>
                        <td class="chief"><input title="{{ translations.chief }}" name="chief[{{ village.aid }}]" type="number" value="{{ village.chief }}" min="0" max="3"/><span class="icon"></span></td>
                        <td class="hero"><input title="{{ translations.hero }}" name="hero[{{ village.aid }}]" type="number" value="{{ village.hero }}" min="0" max="1" /><span class="icon"></span></td>
                        <td class="tournament-square"><input title="{{ translations.tournament_square }}" name="tournament_square[{{ village.aid }}]" type="number" value="{{ village.tournament_square }}" min="0" max="20" /><span class="icon"></span></td>
                    </tr>
                {% endfor %}
            </table>
            <input type="submit" value="Update"/>
        </form>
        <canvas id="chart-{{ woerld|replace({'.': '-'}) }}"></canvas>
        <script>
            onExists('Chart', () => {
          new Chart('chart-{{ woerld|replace({'.': '-'}) }}', {
            type: 'line',
            options: {
              scales: {
                y: {
                  stacked: true,
                  show: true,
                },
                x: {
                  type: 'timeseries',
                  time: {
                    unit: 'day'
                  }
                },
              }
            },
            data: {
              labels: {{ charts[woerld].labels|json_encode()|raw }},
              datasets: [{
                label: 'Offence',
                data: {{ charts[woerld].offence|json_encode()|raw }},
                fill: true,
                borderColor: 'rgb(192, 75, 75)',
                backgroundColor: 'rgba(192, 75, 75, 0.5)',
                tension: 0.1
              },{
                label: 'Multifunctional',
                data: {{ charts[woerld].multi|json_encode()|raw }},
                fill: true,
                borderColor: 'rgb(192, 75, 192)',
                backgroundColor: 'rgb(192, 75, 192, 0.5)',
                tension: 0.1
              },{
                label: 'Defence',
                data: {{ charts[woerld].defence|json_encode()|raw }},
                fill: true,
                borderColor: 'rgb(75, 75, 192)',
                backgroundColor: 'rgb(75, 75, 192, 0.5)',
                tension: 0.1
              },{
                label: 'Scouts',
                data: {{ charts[woerld].scouts|json_encode()|raw }},
                fill: true,
                borderColor: 'rgb(75, 192, 75)',
                backgroundColor: 'rgb(75, 192, 75, 0.5)',
                tension: 0.1
              },]
            }
          });
          });
        </script>
    {% endfor %}
{% else %}
    <p>{{ translations.no_data }}</p>
{% endfor %}
<h3>{{ translations.plus_import }}</h3>
<p>{{ translations.troop_plus_import }}</p>
<form method="post">
    <fieldset>
        <legend>{{ translations.main }}</legend>
        <div class="split2">
            <label title="ts1.x1.europe.travian.com">{{ translations.world }}*<input list="world-datalist" value="{{ world }}" type="text" name="world"/></label>
            <label title="{{ translations.plus_troop_overview }}">{{ translations.source }}*<textarea name="source"></textarea></label>
        </div>
        <input type="submit"/>
    </fieldset>
</form>
{% if troops is not empty %}
    <h3>{{ translations.delete_world }}</h3>
    <form method="post">
        <div class="split2">
            <label>{{ translations.world }}<select name="world">
                {% for woerld,tribes in troops %}
                    <option value="{{ woerld }}">{{ woerld }}</option>
                {% endfor %}
            </select></label>
        </div>
        <input type="hidden" name="type" value="delete"/>
        <input type="submit"/>
    </form>
    <h3>{{ translations.delete_village }}</h3>
    <form method="post">
        <div class="split2">
            <label>{{ translations.village }}<select name="aid">
                    {% for woerld,tribes in troops %}
                        {% for tribe,villages in tribes %}
                            {% for village in villages %}
                                <option value="{{ village.aid }}">{{ village.world }}: {{ village.name }} ({{ village.x }}|{{ village.y }})</option>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </select></label>
        </div>
        <input type="hidden" name="type" value="delete"/>
        <input type="submit"/>
    </form>
{% endif %}
<h3>{{ translations.new_village }}</h3>
<form method="post">
    <fieldset>
        <legend>{{ translations.main }}</legend>
        <div class="split2">
            <label title="ts1.x1.europe.travian.com">{{ translations.world }}*<input list="world-datalist" type="text" value="{{ world }}" name="world"/></label>
            <label>{{ translations.name }}<input type="text" name="name"/></label>
            <label>X<input type="number" name="x"/></label>
            <label>Y<input type="number" name="y"/></label>
            <label>{{ translations.tribe }}<select name="tribe">
                    <option value="roman">{{ translations.romans }}</option>
                    <option value="gaul">{{ translations.gauls }}</option>
                    <option value="teuton">{{ translations.teutons }}</option>
                    <option value="hun">{{ translations.huns }}</option>
                    <option value="egyptian">{{ translations.egyptians }}</option>
                </select></label>
        </div>
        <input type="submit"/>
    </fieldset>
</form>
<h3>{{ translations.import_from_map_sql }}</h3>
<form method="post">
    <fieldset>
        <legend>{{ translations.main }}</legend>
        <div class="split2">
            <label>{{ translations.world }}<select name="imported-world">
                {% for wrld in played_words %}
                    <option value="{{ wrld.world }}">{{ wrld.world }}: {{ wrld.name }}</option>
                {% endfor %}
                </select></label>
        <input type="submit"/>
    </fieldset>
</form>
{% include 'footer.twig' %}