{% include 'header.twig' %}
<h3>{{ translations.worlds }}</h3>
<table>
    <tr>
        <th>{{ translations.world }}</th>
        <th>{{ translations.updated }}</th>
        <th>{{ translations.last_used }}</th>
        <th>{{ translations.players }}</th>
        <th>{{ translations.villages }}</th>
        <th>{{ translations.alliances }}</th>
        <th>{{ translations.map }}</th>
    </tr>
    {% for wrld in know_worlds %}
        <tr>
            <th>{{ wrld.world }}</th>
            <td>{{ wrld.updated }}</td>
            <td>{{ wrld.lastUsed }}</td>
            <td><a href="/worlds/{{ wrld.world }}/players">{{ wrld.players }}</a></td>
            <td>{{ world.villages }}</td>
            <td><a href="/worlds/{{ wrld.world }}/alliances">{{ wrld.alliances }}</a></td>
            <td><a href="/worlds/{{ wrld.world }}/map">{{ translations.map }}</a></td>
        </tr>
    {% endfor %}
</table>
    <p>{{ translations.world_update_info }}</p>
<h3>{{ translations.add_world }}</h3>
<form method="post">
    <fieldset>
        <legend>{{ translations.main }}</legend>
        <div class="split2">
            <label>{{ translations.world }}*<input type="text" name="world"/></label>
        </div>
        <input type="submit"/>
    </fieldset>
</form>
{% include 'footer.twig' %}