{% include 'header.twig' %}
<h3>{{ translations.worlds }}</h3>
<table>
    <tr>
        <th>{{ translations.world }}</th>
        <th>{{ translations.updated }}</th>
        <th>{{ translations.last_used }}</th>
        <th>{{ translations.players }}</th>
        <th>{{ translations.villages }}</th>
        <th>{{ translations.alliances }}</th>
    </tr>
    {% for world in worlds %}
        <tr>
            <th>{{ world.world }}</th>
            <td>{{ world.updated }}</td>
            <td>{{ world.lastUsed }}</td>
            <td><a href="/worlds/{{ world.world }}/players">{{ world.players }}</a></td>
            <td>{{ world.villages }}</td>
            <td><a href="/worlds/{{ world.world }}/alliances">{{ world.alliances }}</a></td>
        </tr>
    {% endfor %}
</table>
<h3>{{ translations.add_world }}</h3>
<form method="post">
    <fieldset>
        <legend>{{ translations.main }}</legend>
        <label>{{ translations.world }}*<input type="text" name="world"/></label>
        <input type="submit"/>
    </fieldset>
</form>
{% include 'footer.twig' %}